<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel='icon' href='pics/logo.jpg' type='image/x-ico' />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="./bootcss/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="./bootcss/css/bootstrap-theme.min.css">
    <link href="css/index.css" rel="stylesheet">
</head>

<body>
    <link rel="import" href="header.html?__inline">
    <div class="container project-cont">
        <div class="row">
            <div class="sidebar col-sm-4 ">
                <div class="row">
                    <div class="col-sm-11 col-sm-offset-1">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">项目进展 <a href="./back.html" class="label label-primary toEdit">管理</a></h3>
                            </div>
                            <div class="panel-body">
                                <ul class="project-panel-ul">
                                    <li class="ths">
                                        <h4 class="ths-name">螺</h4>
                                        <a class="ths-specs">藁杆双脐螺</a>
                                        <a class="ths-specs">福寿螺</a>
                                        <a class="ths-specs">褐云玛瑙螺</a>
                                    </li>
                                    <li class="ths">
                                        <h4 class="ths-name">蚊媒</h4>
                                        <a class="ths-specs">白纹伊蚊</a>
                                        <a class="ths-specs">埃及伊蚊</a>
                                    </li>
                                    <li class="ths">
                                        <h4 class="ths-name">病原体</h4>
                                        <a class="ths-specs">锥虫</a>
                                        <a class="ths-specs">疟原虫</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel-success -->
                    </div>
                    <!-- col-sm-11 col-sm-offset-1 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /.sidebar -->
            <div id='projectMainTplShell'></div>
        </div>
        <!-- /row -->
        <hr>
    </div>
    <!-- /container -->
    <link rel="import" href="footer.html?__inline">
    <script id="projectMainTpl" type="text/html">
        <div class="col-sm-8 project-introduction">
            <div class="normal-part">
                <h4 class="normal-title">项目简介</h4>
                <p class="normal-p">{{list.content}}</p>
            </div>
            <div class="normal-part">
                <h4 class="normal-title">项目进展</h4>
                <p class="normal-p">{{list.progress}}<a href="#" class="normal-a-link">查看更多</a></p>
                <img class="col-sm-11 col-sm-offset-1 normal-img" src={{list.photos}}></div>
            <div class="normal-part">
                <h4 class="normal-title">相关数据库</h4>
                <p class="normal-p"><a href="#" class="normal-a-link">查看数据库</a></p>
            </div>
            <div class="normal-part">
                <h4 class="normal-title">项目组发表的文章</h4>
                {{each list.publishArticleTitles as item indexs}}
                    {{each list.publishArticleLinks as items index}}
                        {{if index!==indexs}}
                        <p class="normal-p">
                            <a href={{items}} class="normal-a-link">{{item}}</a>
                        </p>
                        {{/if}}
                    {{/each}}
                {{/each}}

                <p class="normal-p"><a href="#" class="normal-a-link">查看更多</a></p>
            </div>
            <div class="normal-part">
                <h4 class="normal-title">相关文章</h4>
                <ul>
                 {{each list.relatedArticleTitles as item indexs}}
                    {{each list.relatedArticleLinks as items index}}
                        {{if index!==indexs}}
                       <li><a href={{items}} class="normal-a-link">{{item}}</a></li>
                        {{/if}}
                    {{/each}}
                {{/each}}
                </ul><a href="#" class="normal-a-link">查看更多</a></div>
        </div>
    </script>
    <script type="text/javascript">
    pages['aboutProject']()
    </script>
</body>

</html>
