<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel='icon' href='pics/logo.jpg' type='image/x-ico' />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="bootcss/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="bootcss/css/bootstrap-theme.min.css">
    <link href="css/index.css" rel="stylesheet">
</head>
<body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="col-md-2 logo">
            <img src="pics/logo.jpg" height="130">
        </div>
        <div class="col-md-10">
            <p class="chn-title"><b>国家重点研发计划——重要热带病传播相关的入侵媒介及其病原体的生物学特性研究</b></p>
            <div class="row">
                <div class="col-md-9 eng-title">
                    <p><b>National Research and Development Plan: Research on Biological Characteristics of the Tropical
                        Disease Related Invasion vectors and Pathogens</b>
                        <p>
                </div>
                <div class="col-md-3 search-box">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="  search-query form-control" placeholder="搜索" />
                            <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="blog-masthead">
            <div class="row">
                <div class="col-md-11 ">
                    <nav class="blog-nav">
                        <a class="blog-nav-item active" href="./index.html">首页</a>
                        <a class="blog-nav-item" href="./aboutProject.html">关于项目</a>
                        <a class="blog-nav-item" href="./teams.html">研究团队</a>
                        <a class="blog-nav-item" href="./progress.html">项目进展</a>
                        <a class="blog-nav-item" href="./essay.html">发表文章</a>
                        <a class="blog-nav-item" href="./commumication.html">学术交流</a>
                        <!-- <a class="blog-nav-item" href="#">链接</a> -->
                        <div id="loginBtnShell"></div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="myModalLabel">请登录</h4>
            </div>
            <div class="modal-body">
                <div class="input-group" id='loginBox'>
                    <span class="input-group-addon">帐号</span>
                    <input type="text" class="form-control" placeholder="请输入用户名" name='account'>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">密码</span>
                    <input type="password" class="form-control" placeholder="请输入密码" name='password'>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" id='newer'>注册新用户</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id='loginBtn' data-dismiss="modal">登录</button>
              
            </div>
        </div>
    </div>
</div>
<script id="loginBtnTpl" type="text/html">
    {{if loginFlag==1}}
    <div class=" btn btn-primary btn-sm login-btn" data-toggle="modal" data-target="#myModal">登录</div>
    {{else}}
    <a href="./user.html">您好！欢迎回来</a>
    {{/if}}
</script>

<script id="signInTpl" type="text/html">
    <div class="modal-body" id='newPlayer'>
        <div class="input-group">
            <span class="input-group-addon">姓名</span>
            <input type="text" class="form-control" placeholder="请输入姓名" name='username' value={{list.username}}>
        </div>
        <div class="input-group">
            <span class="input-group-addon">帐号</span>
            <input type="text" class="form-control" placeholder="请输入帐号" name='account'  value={{list.account}}>
        </div>
        <div class="input-group">
            <span class="input-group-addon">密码</span>
            <input type="password" class="form-control" placeholder="请输入密码" name='password'>
        </div>
          <div class="input-group">
            <span class="input-group-addon">确认密码</span>
            <input type="password" class="form-control" placeholder="请输入密码" name='agaipassword'>
        </div>
    </div>
</script>


<script id="loginTpl" type="text/html">
    <div class="modal-body" id='newPlayer'>
        <div class="input-group">
            <span class="input-group-addon">姓名</span>
            <input type="text" class="form-control" placeholder="请输入姓名" name='username' value={{list.username}}>
        </div>
        <div class="input-group">
            <span class="input-group-addon">帐号</span>
            <input type="text" class="form-control" placeholder="请输入帐号" name='account'  value={{list.account}}>
        </div>
        <div class="input-group">
            <span class="input-group-addon">密码</span>
            <input type="password" class="form-control" placeholder="请输入密码" name='password'>
        </div>
          <div class="input-group">
            <span class="input-group-addon">确认密码</span>
            <input type="password" class="form-control" placeholder="请输入密码" name='agaipassword'>
        </div>
    </div>
</script>

    <div class="container project-cont">
        <div class="row">
            <div class="sidebar col-sm-4 ">
                <div class="row">
                    <div class="col-sm-11 col-sm-offset-1">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">项目进展 <a href="./back.html" class="label label-primary toEdit">管理</a></h3>
                            </div>
                            <div class="panel-body">
                                <ul class="project-panel-ul">
                                    <li class="ths">
                                        <h4 class="ths-name">螺</h4>
                                        <a class="ths-specs" href="./aboutProject.html?id=206">藁杆双脐螺</a>
                                        <a class="ths-specs" href="./aboutProject.html?id=207">福寿螺</a>
                                        <a class="ths-specs" href="./aboutProject.html?id=208">褐云玛瑙螺</a>
                                    </li>
                                    <li class="ths">
                                        <h4 class="ths-name" >蚊媒</h4>
                                        <a class="ths-specs" href="./aboutProject.html?id=209">白纹伊蚊</a>
                                        <a class="ths-specs" href="./aboutProject.html?id=210">埃及伊蚊</a>
                                    </li>
                                    <li class="ths">
                                        <h4 class="ths-name" >病原体</h4>
                                        <a class="ths-specs" href="./aboutProject.html?id=211">锥虫</a>
                                        <a class="ths-specs" href="./aboutProject.html?id=212">疟原虫</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel-success -->
                    </div>
                    <!-- col-sm-11 col-sm-offset-1 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /.sidebar -->
            <div id='projectMainTplShell'></div>
        </div>
        <!-- /row -->
        <hr>
    </div>
    <!-- /container -->
    <footer class="footer">
    <div class="row">
        <div class="col-sm-8">
            <div class="col-sm-7 project-introduction">
                <p><b>相关链接</b></p>
                <p><a href="http://zssom.sysu.edu.cn/">中山大学中山医学院</a></p>
                <p><a href="http://www.ipd.org.cn/">中国疾病预防控制中心寄生虫病预防控制所</a></p>
                <p><a href="http://life.fudan.edu.cn/ ">复旦大学生命科学学院</a></p>
                <p><a href="http://www.ipd.org.cn/">南方医科大学公共卫生与热带医学学院</a></p>
            </div>
            <div class="col-sm-5">
                <p><b>资源共享</b></p>
                <p><a href="http://www.chinaias.cn/wjPart/index.aspx ">中国外来入侵物种数据库</a></p>
                <p><a href="http://www.iucngisd.org/gisd/">全球入侵物种数据库GISD</a></p>
                <p><a href="https://www.vectorbase.org/">人类病原体无脊椎动物媒介生物信息资源数据库（VectorBase）</a></p>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <div class=" QRcode-reminder">
                <p>请关注我们的公众号：</p>
            </div>
            <!-- <div class="col-sm-4"> -->
            <img src="pics/QRcode.png" height="105">
            <!-- </div> -->
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <p>Copyright &copy; 2016 <a href="http://www.sysu.edu.cn/2012/cn/index.htm">中山大学</a> &nbsp&nbsp&nbsp
            联系我sss们：<a href="mailto:wuzhd@mail2.sysu.edu.cn">wuzhd@mail2.sysu.edu.cn</a></p>
        <p>地址：中国广州市中山二路74号中山大学北校区（邮政编码：510080）</p>
    </div>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src=./js/jquery-3.1.1.min.js></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src=./bootcss/js/bootstrap.min.js></script>
<script type="text/javascript" src=./js/arttemplate.js></script>
<script type="text/javascript" src=./js/layer.js></script>
<script type="text/javascript" src=./js/md5.min.js></script>
<script type="text/javascript" src=./js/main.js></script>


    <script id="projectMainTpl" type="text/html">
        <div class="col-sm-8 project-introduction">
            <div class="normal-part">
                <h4 class="normal-title">项目简介</h4>
                <p class="normal-p">{{list.content}}</p>
            </div>
            <div class="normal-part">
                <h4 class="normal-title">项目进展</h4>
                <p class="normal-p">{{list.progress}}<a href="#" class="normal-a-link">查看更多</a></p>
                <img class="col-sm-11 col-sm-offset-1 normal-img" src={{list.photos}}></div>
            <div class="normal-part">
                <h4 class="normal-title">相关数据库</h4>
                <p class="normal-p"><a href="#" class="normal-a-link">查看数据库</a></p>
            </div>
            <div class="normal-part">
                <h4 class="normal-title">项目组发表的文章</h4>
                {{each list.publishArticleTitles as item indexs}}
                    {{each list.publishArticleLinks as items index}}
                        {{if index!==indexs}}
                        <p class="normal-p">
                            <a href={{items}} class="normal-a-link">{{item}}</a>
                        </p>
                        {{/if}}
                    {{/each}}
                {{/each}}

                <p class="normal-p"><a href="#" class="normal-a-link">查看更多</a></p>
            </div>
            <div class="normal-part">
                <h4 class="normal-title">相关文章</h4>
                <ul>
                 {{each list.relatedArticleTitles as item indexs}}
                    {{each list.relatedArticleLinks as items index}}
                        {{if index!==indexs}}
                       <li><a href={{items}} class="normal-a-link">{{item}}</a></li>
                        {{/if}}
                    {{/each}}
                {{/each}}
                </ul><a href="#" class="normal-a-link">查看更多</a></div>
        </div>
    </script>
    <script type="text/javascript">
    pages['aboutProject']()
    </script>
</body>

</html>
